.portfolio-container {
  background-image: url(../../Assests/Services\ Section.png);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  position: absolute;
  top: 400vh;
  width: 100%;
}

.vector3 {
  position: absolute;
  top: -150px;
  width: 90%;
  left: 30px;
}

.banner {
  width: 100%;
  height: 150px;
  position: absolute;
  top: -50px;
}

.group {
  position: absolute;
  top: -60px;
  width: 100%;
}

.portfolios-container {
  width: 70%;
  height: 238px;
  text-align: left;
  margin: 100px;
  position: absolute;
  top: 40px;
}

.portfolios-container > p {
  font-size: 54px;
  font-family: Plus Jakarta Sans;
  font-weight: 400px;
}

.portfolio-btn {
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 350px;
  width: 170px;
  right: 20%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(588px, 1fr));
  gap: 20px;
  padding: 20px;
}

.vector4 {
  position: relative;
  top: 200px;
}

.about-container {
  width: 70%;
  height: 238px;
  text-align: left;
  margin: 100px;
  position: relative;
  top: -240px;
}

.about-container > p {
  font-size: 54px;
  font-family: Plus Jakarta Sans;
  font-weight: 400px;
  position: relative;
  bottom: -40px;
}

.comma {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 1300px;
  left: 860px;
}

.person-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  gap: 20px;
  padding: 20px;
  position: relative;
  top: -350px;
  width: 90%;
  left: 30px;
}

.banner2 {
  position: relative;
  top: -300px;
  height: 200px;
}

.letswork-container {
  position: relative;
  top: -550px;
  left: 50px;
  text-align: left;
}

.letswork-container p {
  font-size: 54px;
}

.letswork-container span {
  position: relative;
  top: -30px;
}

.connect-btn {
  position: relative;
  top: -640px;
  left: 950px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  width: 238px;
}

@media (width<=768px) {
  .portfolio-btn {
    position: relative;
    top: -290px;
    left: 100px;
  }
  .portfolio-cards {
    position: relative;
    top: -650px;
    width: 100vh;
  }

  .about-container {
    position: relative;
    top: -520px;
    left: -50px;
  }

  .about-container p {
    font-size: 50px;
  }
  .portfolio-container {
    height: 660vh;
    width: 100vw;
    position: absolute;
    top: 340vh;
  }

  .person-cards {
    position: relative;
    top: -600px;
    width: 90vw;
    left: 10px;
  }

  .banner {
    height: 100px;
    position: relative;
    top: -70px;
  }

  .portfolios-container {
    position: relative;
    top: -240px;
    left: -20px;
  }

  .portfolios-container > p {
    font-size: 45px;
    position: relative;
    top: 50px;
  }

  .banner2 {
    position: relative;
    top: -560px;
  }

  .letswork-container {
    position: relative;
    top: -650px;
    left: 5px;
    text-align: left;
  }

  .letswork-container p {
    font-size: 20px;
  }

  .letswork-container span {
    position: relative;
    top: -20px;
    font-size: 10px;
  }

  .connect-btn {
    position: relative;
    left: 70px;
    top: -630px;
  }

  .group {
    width: 100%;
  }
  .vector4 {
    position: relative;
    top: -100px;
  }

  .vector3 {
    height: 300px;
  }

  .comma {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 100px;
  }
}
