.hero-section {
  background-image: url("../Assests/Hero\ section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.cursor {
  cursor: pointer;
}

.content-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  border: 1px solid white;
  border-radius: 50px;
  height: 40px;
  width: 168px;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-name {
  font-size: 100px;
  font-weight: 500px;
  text-align: center;
  font-family: Plus Jakarta Sans;
  top: 35px;
}

.hero-name-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 432px;
  text-align: center;
  width: 1100px;
  height: 220px;
}

.help-section {
  margin-top: -80px;
}

.get-Started-btn {
  margin: 20px;
  padding: 10px;
  width: 169px;
  border-radius: 40px;
  border: none;
}

/* round below */
.circle-text-container {
  position: relative;
  top: 110px;
  width: 100px;
  height: 100px;
  color: white;
}

.circle-svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* optional, to adjust text orientation */
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
  font-family: Poppins, sans-serif;
}

/* mobile view */

@media (width<=768px) {
  .hero-name-container {
    width: 500px;
  }
  .hero-name {
    font-size: 30px;
  }
  .help-section {
    margin-top: 0px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }

  .circle-text-container {
    position: relative;
    top: 20px;
  }
}
