.service-section {
  background-image: url("../../Assests/Services\ Section.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 300vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  position: absolute;
  top: 100vh;
  width: 100%;
}

.agency-container {
  width: 70%;
  height: 238px;
  text-align: left;
  margin: 100px;
}

.agency-container > p {
  font-size: 54px;
  font-family: Plus Jakarta Sans;
  font-weight: 400px;
}

.work-Togeather-container {
  width: 40%;
  height: 238px;
  text-align: left;
  margin: 100px;
  position: relative;
  top: -120px;
}

.work-Togeather-container > p {
  font-size: 54px;
  font-family: Plus Jakarta Sans;
  font-weight: 400px;
}

.imgvector2 {
  position: absolute;
  top: 150px;
  width: 90%;
  left: 30px;
}

.imgrings {
  height: 157.2px;
  width: 157.2px;
  position: absolute;
  left: 75%;
  top: 330px;
}

.explore-btn {
  width: 216px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  position: relative;
  left: 45%;
  top: -130px;
  cursor: pointer;
}
.roundbtn {
  padding: 1px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

@media (width<768px) {
  .agency-container > p {
    font-size: 34px;
    position: relative;
    top: -100px;
  }

  .agency-container > span {
    position: relative;
    top: -100px;
  }
  .imgvector2 {
    height: 300px;
    top: 200px;
  }
  .imgrings {
    height: 100.2px;
    width: 100.2px;
    top: 260px;
  }

  .work-Togeather-container > p {
    font-size: 34px;
  }
  .work-Togeather-container {
    position: relative;
    top: -190px;
  }
}
